<div class="row">
  <div class="small-12 columns text-center">
    <h1>Welcome to Hangman!</h1>
  </div>
</div>

<div class="row">
  <div class="small-12 medium-6 columns">
      <button class="button expand">New Game</button>
  </div>

  <div class="small-12 medium-6 columns">
      <button class="button expand">Continue Game</button>
  </div>
</div>


<div class="row">
  <div class="small-12 medium-6 large-3 columns">
    <button>xxx</button>
  </div>
  <div class="small-12 medium-6 large-3 columns">
    <button>xxx</button>
  </div>
  <div class="small-12 medium-6 large-3 columns">
    <button>xxx</button>
  </div>
  <div class="small-12 medium-6 large-3 columns">
    <button>xxx</button>
  </div>
</div>
