<div class="row">
  <div class="small-12 medium-4 columns">
    <div id="gallows" class="gallows gallows-state-<%= current_game.failed_attempts %>">

    </div>
  </div>


  <div class="small-12 medium-8 columns">
    <div class="row">
      <div class="small-12 columns">
        <ul class="word small-block-grid-<%= current_game.word.length %>">
          <% current_game.word.split('').each do |letter| %>
            <li>
              <div class="word-letter">
                <%= current_game.finished? || current_game.selected_letters.include?(letter) ? letter : '-' %>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
    </div>

